<div class="container" style="text-align: center;">

	<div class="row">
		<div class="col-sm-12 col-md-8" style="margin: 25px 0 15px 0;">
			Development of this catalogue has been funded through the European Maritime and Fisheries Fund and the Marine Institute's Digital Ocean Programme. 
			<i class="fa fa-copyright"></i> Copyright Marine Institute
		</div>
		<div class="col-sm-12 col-md-4" style="margin: 15px 0 15px 0;">
			<img src="/geonetwork/images/emff_logo.png" style="max-width: 90px; vertical-align: top; padding: 0 5px;">
			<img src="/geonetwork/images/IDO_LogoLight.png" style="max-width: 90px; vertical-align: top; padding: 0 5px;">
		</div>
	</div>
	

	<ul class="nav navbar-nav" style="float:unset; display: inline-block;">
	  
	  <li>
		<a href="mailto:datarequests@marine.ie">
			<i class="fa fa-envelope"></i>
			<span data-translate="">Contact</span>
		</a>
	  </li>
	  
	  <li>
		<a href="https://www.marine.ie/Home/site-area/online-policies/privacy">
			<span data-translate="">Privacy</span>
		</a>
	  </li>
	  
	  <li>
		<a href="https://www.marine.ie/Home/site-area/online-policies/freedom-information">
			<span data-translate="">Freedom of Information</span>
		</a>
	  </li>
	  
		<li>
		<a href="https://www.marine.ie/Home/site-area/online-policies/re-use-public-sector-information">
			<span data-translate="">Re-use of Public Sector Information</span>
		</a>
	  </li>
	  
		<li>
		<a href="https://www.marine.ie/Home/site-area/accessibility/accessibility">
			<span data-translate="">Accessibility</span>
		</a>
	  </li>
	  
	</ul>
</div>