<div class="container-fluid">
        <h1><img src="/geonetwork/images/IsdeBanner.png" alt="Irish Spatial Data Exchange" style="vertical-align: top;"></h1><br>
    <div class="row gn-row-main">
        <div class="col-sm-8 col-sm-offset-2" style="font-size: 18px;">
            <p style="margin-bottom: 20px">
                The Irish Spatial Data Exchange (<strong>ISDE</strong>) is the spatial data catalogue and repository for
                the publication of
                descriptive metadata. <strong>ISDE</strong> enables users to discover what spatial data exists, how to
                access that data, its fitness for purpose, who/when and how the data was created, its geographic extent,
                as well as licence conditions on rights of use.<br><br>
                Built on a federated system of <a href="https://geonetwork-opensource.org/">GeoNetwork</a> spatial data
                catalogues which provide
                Catalogue Service for
                the Web (<a href="https://www.opengeospatial.org/standards/cat">CSW</a>) interfaces, this allows for the share and exchange of <a href="https://www.iso.org/standard/32557.html">ISO 19139</a> standard metadata
                with
                descriptions following the <a href="https://inspire.ec.europa.eu/metadata/6541">INSPIRE</a> metadata regulations.
            </p>
            <p>
                <a href="http://www.isde.ie">ISDE</a> is operated by Ireland's National Oceanographic
                Data Centre team, based at the <a href="http://www.marine.ie" target="_blank">Marine Institute</a>.

                This site adheres to the <a href="https://www.marine.ie/Home/site-area/online-policies/privacy">Privacy
                    Policy</a> as set out by the Marine Institute.
            </p>

            <br>
            <h2>Data Sources</h2>
            <p>
                <strong>ISDE</strong> is developed and operated by the <a href="http://www.marine.ie">Marine
                    Institute</a> in collaboration and partnership with:
                <ul>
                    <li><a href="http://airo.maynoothuniversity.ie/">All-island
                            Research Observatory</a></li>
                    <li><a href="https://www.chg.gov.ie/">Department of Culture, Heritage and the Gaeltacht</a></li>
                    <li><a href="https://www.housing.gov.ie/">Department of Housing, Planning and Local Government</a></li>
                    <li><a href="https://www.epa.ie/">Environmental
                            Protection
                            Agency</a></li>
                    <li><a href="https://www.gsi.ie">Geological Survey of Ireland</a></li>
                    <li><a href="https://www.marei.ie/">Marine and Renewable Energy Ireland Centre</a></li>

                </ul>
            </p>

            <br>
            <h2>Contact</h2>
            <p>
                To suggest an edit, submit a dataset or for any questions or comments about ISDE,
                please contact us <a href="mailto:datarequests@marine.ie">here</a>.
            </p>

            <br>
            <h2>Acknowledgments</h2>
            <p>
                This site has been developed through funding from the Marine Institute's <a href="https://digitalocean.ie/">Digital Ocean Programme</a>.
            </p>

        </div>
    </div>
</div>
