<div class="container-fluid">
  <div class="row gn-row-main">
    <div class="col-sm-8 col-sm-offset-2" style="font-size: 17px;">
        <h1>About</h1>
        <p style="margin-bottom: 20px">
            The concept of the European Maritime and Fisheries Fund and of Ireland's Digital Ocean programme is to integrate marine data 
            from multiple sources and representing a large range of parameters. This catalogue aims to support these programmes through 
            providing a comprehensive, single discovery portal for marine data collected, created and curated by a number of organisations around Ireland.
        </p>
        <p>
            data.marine.ie is intended to provide easy access to these datasets. Many of them are free to use, reuse and redistribute. 
            data.marine.ie is operated by Ireland's National Oceanographic Data Centre team, based at the <a href="http://www.marine.ie" target="_blank">Marine Institute</a>.
        </p>

        <br>
        <h2>Data Sources</h2>
        <p>
            A large number of organisations contribute data to this catalogue. A full list can be found here.
        </p>

        <br>
        <h2>Contact</h2>
        <p>
            To suggest or submit a dataset to the catalogue, or for any questions or comments about data.marine.ie please contact us via <a href="mailto:datarequests@marine.ie">e-mail</a>.
        </p>

        <br>
        <h2>Acknowledgments</h2>
        <p>
            This site has been developed through funding from:
            <ul>
                <li>European Maritime and Fisheries Fund</li>
                <li>Marine Institute Digital Ocean Programme</li>
            </ul>
        </p>

    </div>
  </div>
</div>

